html{
    background-color: black;
}
h1{
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
    text-transform: capitalize;
    font-size: 3rem;
}
p{
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
}
img{
    border: solid white;
    border-width: 5px;
    width: 100%;
}
div{
    margin-top: 50px;
    margin-left: 25%;
    width: 50%;
}